<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BimPlus.Client" publicKeyToken="f8c5355fc4a4c88a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.3.0" newVersion="2023.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BimPlus.Sdk.Api" publicKeyToken="f8c5355fc4a4c88a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.3.0" newVersion="2023.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BimPlus.Sdk.Data" publicKeyToken="f8c5355fc4a4c88a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.3.0" newVersion="2023.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BimPlus.Sdk.Utilities" publicKeyToken="f8c5355fc4a4c88a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.3.0" newVersion="2023.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BimPlus.LightCaseClient" publicKeyToken="f8c5355fc4a4c88a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.3.0" newVersion="2023.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>