<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ALLPLAN.BIF" version="2021.0.2" targetFramework="net472" />
  <package id="IdeaStatiCa.OpenModel" version="10.1.0.2" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.864.35" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net48" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net48" />
</packages>